<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>STT</th>
            <th>name</th>
            <th>price</th>
            <th>desc</th>
            <th>ACTION</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products; index as id">
            <td>{{id}}</td>
            <td>{{item.name}}</td>
            
            <td>{{item.price}}</td><td>{{item.desc}}</td>
            <td>
                <button class="btn btn-outline-danger" (click)="onHandleDelete(item.id)"> Remove</button>
                <a class="d-block w-25 btn btn-outline-primary" routerLink="/products/detail/{{item.id}}">View</a>
                <a class="d-block w-25 btn btn-primary" routerLink="/products/update/{{item.id}}">Edit</a>

            </td>


        </tr>
    </tbody>
</table>